.hand {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border: 1px solid black;
	margin: 2px;
}

.hand:hover {
	opacity: 0.5;
	cursor: pointer;
}

.hand-pair {
	background-color: orange;
}

.hand-offsuite {
	background-color: lightblue;
}

.hand-suited {
	background-color: lightsalmon;
}

.cards-row {
	display: flex;
}
