.card-list {
	display: flex;
	flex-wrap: wrap;
	width: 420px;
}

.card {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border: 1px solid black;
	margin: 2px;

	cursor: pointer;

	color: white;
	font-size: 24px;
}

.card__suite-c {
	background-color: lightgreen;
}

.card__suite-h {
	background-color: lightcoral;
}

.card__suite-d {
	background-color: lightblue;
}

.card__suite-s {
	background-color: black;
}

.card__empty {
	background-color: lightgray;
}

.card__disabled {
	opacity: 0.2;
}

.board, .player {
	display: flex;
}