* {
	font-family: 'Khula', sans-serif;
}

.calculator {
	width: 900px;
	height: 680px;
	background: lightgreen;
	display: flex;
}

.card-list {
	display: flex;
	flex-wrap: wrap;
	width: 420px;
}

.player, .board {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	width: 230px;
}

.card {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 52px;
	border: 1px solid black;
	margin: 2px;

	cursor: pointer;

	background: white;
	font-size: 24px;
	font-weight: 600;

	position: relative;
}

.card__top {
	position: absolute;
	top: 0;
}

.card__bottom {
	position: absolute;
	bottom: -8px;
}

.card__selected {
	transform: translate(0, -10px);
}

.card__suite-c {
	color: green;
}

.card__suite-h {
	color: red;
}

.card__suite-d {
	color: blue;
}

.card__suite-s {
	color: black;
}

.card__empty {
	background-color: white;
	background-image: linear-gradient(45deg, #3f71a4 25%, transparent 25%, transparent 75%, #3f71a4 75%), 
		linear-gradient(-45deg,#3f71a4 25%, transparent 25%, transparent 75%, #3f71a4 75%);
	background-size: 4px 4px;
	background-position: 0 0, 0 0;
	transition: transform ease-in-out .3s;
}

.card__disabled {
	opacity: 0.2;
}

.board_cards, .player_cards {
	display: flex;
}

.spectre {
	display: flex;
}


.hand {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border: 1px solid black;
	margin: 2px;

	font-size: 20px;
}

.hand:hover {
	cursor: pointer;
}

.hand__pair {
	background: grey;
}

.hand__suited {
	background: yellow;
}

.hand__offsuite {
	background: lightblue;
}

.hand__selected {
	background: black;
	color: white;
}

.show_spectre {
	display: block;
	height: 58px;
}

.win_percent {
	position: absolute;
	left: 100px;
	background: black;
	color: white;
	padding: 0 8px;
}

.action-button {
	width: 115px;
	height: 25px;
}

.mode-toggler {
	border-radius: 25%;
	width: 32px;
	border: none;
	cursor: pointer;
}

.mode-toggler:focus {
	outline: none;
}
